$color-golden-apricot-10: rgb(244 152 0);
$color-golden-apricot-11: rgb(172 104 0);
$color-golden-apricot-12: rgb(81 52 9);
$color-golden-apricot-1: rgb(254 252 251);
$color-golden-apricot-2: rgb(255 247 232);
$color-golden-apricot-3: rgb(255 238 199);
$color-golden-apricot-4: rgb(255 225 172);
$color-golden-apricot-5: rgb(255 213 144);
$color-golden-apricot-6: rgb(255 197 104);
$color-golden-apricot-7: rgb(251 179 80);
$color-golden-apricot-8: rgb(238 154 0);
$color-golden-apricot-9: rgb(254 182 83);
$color-gray-10: rgb(109 126 150);
$color-gray-11: rgb(87 103 126);
$color-gray-12: rgb(28 35 47);
$color-gray-1: rgb(255 255 255);
$color-gray-2: rgb(243 246 251);
$color-gray-3: rgb(237 241 247);
$color-gray-4: rgb(227 233 242);
$color-gray-5: rgb(218 225 237);
$color-gray-6: rgb(208 217 232);
$color-gray-7: rgb(193 205 223);
$color-gray-8: rgb(169 186 210);
$color-gray-9: rgb(121 138 163);
$color-gray-alpha-0: rgb(255 255 255 / 0);
$color-gray-alpha-12: rgb(121 138 163 / 0.12);
$color-gray-alpha-72: rgb(28 35 47 / 0.72);
$color-gray-alpha-8: rgb(28 35 47 / 0.08);
$color-gray-black: rgb(0 0 0);
$color-gray-shadow-0: rgb(28 35 47 / 0);
$color-gray-shadow-100: rgb(28 35 47 / 0.04);
$color-gray-shadow-200: rgb(28 35 47 / 0.06);
$color-gray-shadow-300: rgb(28 35 47 / 0.08);
$color-gray-shadow-400: rgb(28 35 47 / 0.1);
$color-gray-shadow-500: rgb(28 35 47 / 0.16);
$color-gray-white: rgb(255 255 255);
$color-green-10: rgb(43 154 102);
$color-green-11: rgb(33 131 88);
$color-green-12: rgb(25 59 45);
$color-green-1: rgb(251 254 252);
$color-green-2: rgb(244 251 246);
$color-green-3: rgb(230 246 235);
$color-green-4: rgb(214 241 223);
$color-green-5: rgb(196 232 209);
$color-green-6: rgb(173 221 192);
$color-green-7: rgb(142 206 170);
$color-green-8: rgb(91 185 139);
$color-green-9: rgb(48 164 108);
$color-green-alpha-12: rgb(48 164 108 / 0.12);

$color-indigo-10: rgb(51 88 212);
$color-indigo-11: rgb(13 116 206);
$color-indigo-12: rgb(31 45 92);
$color-indigo-1: rgb(253 253 254);
$color-indigo-2: rgb(247 249 255);
$color-indigo-3: rgb(237 242 254);
$color-indigo-4: rgb(225 233 255);
$color-indigo-5: rgb(210 222 255);
$color-indigo-6: rgb(193 208 255);
$color-indigo-7: rgb(171 189 249);
$color-indigo-8: rgb(141 164 239);
$color-indigo-9: rgb(62 99 221);
$color-indigo-alpha-12: rgb(62 99 221 / 0.12);
$color-indigo-alpha-24: rgb(62 99 221 / 0.24);
$color-midnight-sapphire-10: rgb(39 147 242);
$color-midnight-sapphire-11: rgb(0 113 206);
$color-midnight-sapphire-12: rgb(0 49 113);
$color-midnight-sapphire-1: rgb(251 253 255);
$color-midnight-sapphire-2: rgb(243 250 255);
$color-midnight-sapphire-3: rgb(229 244 255);
$color-midnight-sapphire-4: rgb(209 238 255);
$color-midnight-sapphire-5: rgb(190 228 255);
$color-midnight-sapphire-6: rgb(165 215 255);
$color-midnight-sapphire-7: rgb(130 198 255);
$color-midnight-sapphire-8: rgb(74 173 255);
$color-midnight-sapphire-9: rgb(55 159 255);
$color-mystic-indigo-10: rgb(36 67 222);
$color-mystic-indigo-11: rgb(43 79 233);
$color-mystic-indigo-12: rgb(22 42 107);
$color-mystic-indigo-1: rgb(252 253 255);
$color-mystic-indigo-2: rgb(246 249 255);
$color-mystic-indigo-3: rgb(235 242 255);
$color-mystic-indigo-4: rgb(220 234 255);
$color-mystic-indigo-5: rgb(203 223 255);
$color-mystic-indigo-6: rgb(184 209 255);
$color-mystic-indigo-7: rgb(157 190 255);
$color-mystic-indigo-8: rgb(124 163 255);
$color-mystic-indigo-9: rgb(41 75 255);
$color-mystic-indigo-alpha-12: rgb(41 75 255 / 0.12);
$color-orange-10: rgb(239 95 0);
$color-orange-11: rgb(204 78 0);
$color-orange-12: rgb(88 45 29);
$color-orange-1: rgb(254 252 251);
$color-orange-2: rgb(255 247 237);
$color-orange-3: rgb(255 239 214);
$color-orange-4: rgb(255 223 181);
$color-orange-5: rgb(255 209 154);
$color-orange-6: rgb(255 193 130);
$color-orange-7: rgb(245 174 115);
$color-orange-8: rgb(236 148 85);
$color-orange-9: rgb(247 107 21);
$color-orange-alpha-12: rgb(247 107 21 / 0.12);
$color-plum-10: rgb(161 68 175);
$color-plum-11: rgb(149 62 163);
$color-plum-12: rgb(83 25 93);
$color-plum-1: rgb(254 252 255);
$color-plum-2: rgb(253 247 253);
$color-plum-3: rgb(251 235 251);
$color-plum-4: rgb(247 222 248);
$color-plum-5: rgb(242 209 243);
$color-plum-6: rgb(233 194 236);
$color-plum-7: rgb(222 173 227);
$color-plum-8: rgb(207 145 216);
$color-plum-9: rgb(171 74 186);
$color-red-10: rgb(220 62 66);
$color-red-11: rgb(206 44 49);
$color-red-12: rgb(100 23 35);
$color-red-1: rgb(255 252 252);
$color-red-2: rgb(255 247 247);
$color-red-3: rgb(254 235 236);
$color-red-4: rgb(255 219 220);
$color-red-5: rgb(255 205 206);
$color-red-6: rgb(253 189 190);
$color-red-7: rgb(244 169 170);
$color-red-8: rgb(235 142 144);
$color-red-9: rgb(229 72 77);
$color-red-alpha-12: rgb(229 72 77 / 0.12);
$color-spice-sunset-10: rgb(234 90 62);
$color-spice-sunset-11: rgb(208 72 46);
$color-spice-sunset-12: rgb(88 44 35);
$color-spice-sunset-1: rgb(254 252 251);
$color-spice-sunset-2: rgb(255 245 243);
$color-spice-sunset-3: rgb(255 234 228);
$color-spice-sunset-4: rgb(255 214 202);
$color-spice-sunset-5: rgb(255 200 185);
$color-spice-sunset-6: rgb(255 185 167);
$color-spice-sunset-7: rgb(250 167 149);
$color-spice-sunset-8: rgb(239 142 122);
$color-spice-sunset-9: rgb(246 104 76);

$color-background-backdrop: $color-gray-alpha-72;
$color-background-brand-alpha: $color-mystic-indigo-alpha-12;
$color-background-brand-subtle: $color-mystic-indigo-4;
$color-background-brand: $color-mystic-indigo-9;
$color-background-caution-alpha: $color-orange-alpha-12;
$color-background-caution-subtle: $color-orange-4;
$color-background-caution: $color-orange-9;
$color-background-hover: $color-gray-alpha-8;
$color-background-info-alpha: $color-indigo-alpha-12;
$color-background-info-subtle: $color-indigo-4;
$color-background-info: $color-indigo-9;
$color-background-inverse: $color-gray-12;
$color-background-negative-alpha: $color-red-alpha-12;
$color-background-negative-subtle: $color-red-4;
$color-background-negative: $color-red-9;
$color-background-neutral-alpha: $color-gray-alpha-12;
$color-background-neutral-subtle: $color-gray-4;
$color-background-neutral: $color-gray-9;
$color-background-positive-alpha: $color-green-alpha-12;
$color-background-positive-subtle: $color-green-4;
$color-background-positive: $color-green-9;
$color-background-primary: $color-gray-1;
$color-background-secondary: $color-gray-2;
$color-background-tertiary: $color-gray-3;
$color-background-transparent: $color-gray-alpha-0;
$color-background-ui: $color-gray-3;
$color-border-brand-alpha: $color-mystic-indigo-alpha-12;
$color-border-brand-subtle: $color-mystic-indigo-4;
$color-border-brand: $color-mystic-indigo-9;
$color-border-caution: $color-orange-9;
$color-border-force-dark: $color-gray-black;
$color-border-force-light: $color-gray-white;
$color-border-info: $color-indigo-9;
$color-border-inverse: $color-gray-12;
$color-border-negative: $color-red-9;
$color-border-positive: $color-green-9;
$color-border-primary: $color-gray-6;
$color-border-secondary: $color-gray-7;
$color-border-ui: $color-gray-7;

$color-icon-brand-strong: $color-mystic-indigo-12;
$color-icon-brand-subtle: $color-mystic-indigo-4;
$color-icon-brand: $color-mystic-indigo-9;
$color-icon-caution-strong: $color-orange-12;
$color-icon-caution-subtle: $color-orange-4;
$color-icon-caution: $color-orange-9;
$color-icon-force-dark: $color-gray-black;
$color-icon-force-light: $color-gray-white;
$color-icon-info-strong: $color-indigo-12;
$color-icon-info-subtle: $color-indigo-4;
$color-icon-info: $color-indigo-9;
$color-icon-inverse: $color-gray-1;
$color-icon-negative-strong: $color-red-12;
$color-icon-negative-subtle: $color-red-4;
$color-icon-negative: $color-red-9;
$color-icon-on-brand: $color-gray-white;
$color-icon-on-caution: $color-gray-white;
$color-icon-on-info: $color-gray-white;
$color-icon-on-negative: $color-gray-white;
$color-icon-on-neutral: $color-gray-white;
$color-icon-on-positive: $color-gray-white;
$color-icon-on-ui: $color-gray-12;
$color-icon-positive-strong: $color-green-12;
$color-icon-positive-subtle: $color-green-4;
$color-icon-positive: $color-green-9;
$color-icon-primary: $color-gray-12;
$color-icon-secondary: $color-gray-11;

$color-text-brand-strong: $color-mystic-indigo-12;
$color-text-brand-subtle: $color-mystic-indigo-4;
$color-text-brand: $color-mystic-indigo-9;
$color-text-caution-strong: $color-orange-12;
$color-text-caution-subtle: $color-orange-4;
$color-text-caution: $color-orange-9;
$color-text-force-dark: $color-gray-black;
$color-text-force-light: $color-gray-white;
$color-text-info-strong: $color-indigo-12;
$color-text-info-subtle: $color-indigo-4;
$color-text-info: $color-indigo-9;
$color-text-inverse: $color-gray-1;
$color-text-link: $color-mystic-indigo-9;
$color-text-negative-strong: $color-red-12;
$color-text-negative-subtle: $color-red-4;
$color-text-negative: $color-red-9;
$color-text-on-brand: $color-gray-white;
$color-text-on-caution: $color-gray-white;
$color-text-on-info: $color-gray-white;
$color-text-on-negative: $color-gray-white;
$color-text-on-neutral: $color-gray-white;
$color-text-on-positive: $color-gray-white;
$color-text-on-ui: $color-gray-12;
$color-text-positive-strong: $color-green-12;
$color-text-positive-subtle: $color-green-4;
$color-text-positive: $color-green-9;
$color-text-primary: $color-gray-12;
$color-text-secondary: $color-gray-11;

$context-brand-fill-background: $color-background-brand;
$context-brand-fill-border: $color-border-brand;
$context-brand-fill-icon: $color-icon-on-brand;
$context-brand-fill-text: $color-text-on-brand;
$context-brand-ghost-background: $color-background-transparent;
$context-brand-ghost-border: $color-border-brand;
$context-brand-ghost-icon: $color-icon-brand;
$context-brand-ghost-text: $color-text-brand;
$context-brand-outline-background: $color-background-transparent;
$context-brand-outline-border: $color-border-brand;
$context-brand-outline-icon: $color-icon-brand;
$context-brand-outline-text: $color-text-brand;
$context-brand-soft-background: $color-background-brand-alpha;
$context-brand-soft-border: $color-border-brand;
$context-brand-soft-icon: $color-icon-primary;
$context-brand-soft-text: $color-text-primary;
$context-caution-fill-background: $color-background-caution;
$context-caution-fill-border: $color-border-caution;
$context-caution-fill-icon: $color-icon-on-caution;
$context-caution-fill-text: $color-text-on-caution;
$context-caution-ghost-background: $color-background-transparent;
$context-caution-ghost-border: $color-border-caution;
$context-caution-ghost-icon: $color-icon-caution;
$context-caution-ghost-text: $color-text-caution;
$context-caution-outline-background: $color-background-transparent;
$context-caution-outline-border: $color-border-caution;
$context-caution-outline-icon: $color-icon-caution;
$context-caution-outline-text: $color-text-caution;
$context-caution-soft-background: $color-background-caution-alpha;
$context-caution-soft-border: $color-border-caution;
$context-caution-soft-icon: $color-icon-primary;
$context-caution-soft-text: $color-text-primary;
$context-info-fill-background: $color-background-info;
$context-info-fill-border: $color-border-info;
$context-info-fill-icon: $color-icon-on-info;
$context-info-fill-text: $color-text-on-info;
$context-info-ghost-background: $color-background-transparent;
$context-info-ghost-border: $color-border-info;
$context-info-ghost-icon: $color-icon-info;
$context-info-ghost-text: $color-text-info;
$context-info-outline-background: $color-background-transparent;
$context-info-outline-border: $color-border-info;
$context-info-outline-icon: $color-icon-info;
$context-info-outline-text: $color-text-info;
$context-info-soft-background: $color-background-info-alpha;
$context-info-soft-border: $color-border-info;
$context-info-soft-icon: $color-icon-primary;
$context-info-soft-text: $color-text-primary;
$context-negative-fill-background: $color-background-negative;
$context-negative-fill-border: $color-border-negative;
$context-negative-fill-icon: $color-icon-on-negative;
$context-negative-fill-text: $color-text-on-negative;
$context-negative-ghost-background: $color-background-transparent;
$context-negative-ghost-border: $color-border-negative;
$context-negative-ghost-icon: $color-icon-negative;
$context-negative-ghost-text: $color-text-negative;
$context-negative-outline-background: $color-background-transparent;
$context-negative-outline-border: $color-border-negative;
$context-negative-outline-icon: $color-icon-negative;
$context-negative-outline-text: $color-text-negative;
$context-negative-soft-background: $color-background-negative-alpha;
$context-negative-soft-border: $color-border-negative;
$context-negative-soft-icon: $color-icon-primary;
$context-negative-soft-text: $color-text-primary;
$context-neutral-fill-background: $color-background-neutral;
$context-neutral-fill-border: $color-border-primary;
$context-neutral-fill-icon: $color-icon-on-neutral;
$context-neutral-fill-text: $color-text-on-neutral;
$context-neutral-ghost-background: $color-background-transparent;
$context-neutral-ghost-border: $color-border-primary;
$context-neutral-ghost-icon: $color-icon-secondary;
$context-neutral-ghost-text: $color-text-secondary;
$context-neutral-outline-background: $color-background-transparent;
$context-neutral-outline-border: $color-border-primary;
$context-neutral-outline-icon: $color-icon-primary;
$context-neutral-outline-text: $color-text-primary;
$context-neutral-soft-background: $color-background-neutral-alpha;
$context-neutral-soft-border: $color-border-primary;
$context-neutral-soft-icon: $color-icon-primary;
$context-neutral-soft-text: $color-text-primary;
$context-positive-fill-background: $color-background-positive;
$context-positive-fill-border: $color-border-positive;
$context-positive-fill-icon: $color-icon-on-positive;
$context-positive-fill-text: $color-text-on-positive;
$context-positive-ghost-background: $color-background-transparent;
$context-positive-ghost-border: $color-border-positive;
$context-positive-ghost-icon: $color-icon-positive;
$context-positive-ghost-text: $color-text-positive;
$context-positive-outline-background: $color-background-transparent;
$context-positive-outline-border: $color-border-positive;
$context-positive-outline-icon: $color-icon-positive;
$context-positive-outline-text: $color-text-positive;
$context-positive-soft-background: $color-background-positive-alpha;
$context-positive-soft-border: $color-border-positive;
$context-positive-soft-icon: $color-icon-primary;
$context-positive-soft-text: $color-text-primary;

$color-background-backdrop: $color-gray-alpha-72;
$color-background-brand-alpha: $color-mystic-indigo-alpha-12;
$color-background-brand-subtle: $color-mystic-indigo-4;
$color-background-brand: $color-mystic-indigo-9;
$color-background-caution-alpha: $color-orange-alpha-12;
$color-background-caution-subtle: $color-orange-4;
$color-background-caution: $color-orange-9;
$color-background-hover: $color-gray-alpha-8;
$color-background-info-alpha: $color-indigo-alpha-12;
$color-background-info-subtle: $color-indigo-4;
$color-background-info: $color-indigo-9;
$color-background-inverse: $color-gray-12;
$color-background-negative-alpha: $color-red-alpha-12;
$color-background-negative-subtle: $color-red-4;
$color-background-negative: $color-red-9;
$color-background-neutral-alpha: $color-gray-alpha-12;
$color-background-neutral-subtle: $color-gray-4;
$color-background-neutral: $color-gray-9;
$color-background-positive-alpha: $color-green-alpha-12;
$color-background-positive-subtle: $color-green-4;
$color-background-positive: $color-green-9;
$color-background-primary: $color-gray-1;
$color-background-secondary: $color-gray-2;
$color-background-tertiary: $color-gray-3;
$color-background-transparent: $color-gray-alpha-0;
$color-background-ui: $color-gray-3;
$color-border-brand-alpha: $color-mystic-indigo-alpha-12;
$color-border-brand-subtle: $color-mystic-indigo-4;
$color-border-brand: $color-mystic-indigo-9;
$color-border-caution: $color-orange-9;
$color-border-force-dark: $color-gray-black;
$color-border-force-light: $color-gray-white;
$color-border-info: $color-indigo-9;
$color-border-inverse: $color-gray-12;
$color-border-negative: $color-red-9;
$color-border-positive: $color-green-9;
$color-border-primary: $color-gray-6;
$color-border-secondary: $color-gray-7;
$color-border-ui: $color-gray-7;

$color-text-brand-strong: $color-mystic-indigo-12;
$color-text-brand-subtle: $color-mystic-indigo-4;
$color-text-brand: $color-mystic-indigo-9;
$color-text-caution-strong: $color-orange-12;
$color-text-caution-subtle: $color-orange-4;
$color-text-caution: $color-orange-9;
$color-text-force-dark: $color-gray-black;
$color-text-force-light: $color-gray-white;
$color-text-info-strong: $color-indigo-12;
$color-text-info-subtle: $color-indigo-4;
$color-text-info: $color-indigo-9;
$color-text-inverse: $color-gray-1;
$color-text-link: $color-mystic-indigo-9;
$color-text-negative-strong: $color-red-12;
$color-text-negative-subtle: $color-red-4;
$color-text-negative: $color-red-9;
$color-text-on-brand: $color-gray-white;
$color-text-on-caution: $color-gray-white;
$color-text-on-info: $color-gray-white;
$color-text-on-negative: $color-gray-white;
$color-text-on-neutral: $color-gray-white;
$color-text-on-positive: $color-gray-white;
$color-text-on-ui: $color-gray-12;
$color-text-positive-strong: $color-green-12;
$color-text-positive-subtle: $color-green-4;
$color-text-positive: $color-green-9;
$color-text-primary: $color-gray-12;
$color-text-secondary: $color-gray-11;

$component-accordion-fill-background: $color-background-tertiary;
$component-accordion-fill-border: $color-border-primary;
$component-accordion-fill-icon: $color-icon-primary;
$component-accordion-fill-title: $color-text-primary;
$component-accordion-ghost-background: $color-background-transparent;
$component-accordion-ghost-border: $color-border-primary;
$component-accordion-ghost-icon: $color-icon-primary;
$component-accordion-ghost-title: $color-text-primary;
$component-accordion-outline-background: $color-background-primary;
$component-accordion-outline-border: $color-border-primary;
$component-accordion-outline-icon: $color-icon-primary;
$component-accordion-outline-title: $color-text-primary;
$component-alert-fill-background: $context-brand-fill-background;
$component-alert-fill-border: $context-brand-fill-border;
$component-alert-fill-icon: $context-brand-fill-icon;
$component-alert-fill-text: $context-brand-fill-text;
$component-alert-outline-background: $context-brand-outline-background;
$component-alert-outline-border: $context-brand-outline-border;
$component-alert-outline-icon: $context-brand-outline-icon;
$component-alert-outline-text: $context-brand-outline-text;
$component-alert-soft-background: $context-brand-soft-background;
$component-alert-soft-border: $context-brand-soft-border;
$component-alert-soft-icon: $context-brand-soft-icon;
$component-alert-soft-text: $context-brand-soft-text;
$component-authenticator-fill-background: $color-background-ui;
$component-authenticator-fill-border: $color-border-ui;
$component-authenticator-fill-text-default: $color-text-on-ui;
$component-authenticator-fill-text-placeholder: $color-text-secondary;
$component-authenticator-outline-background: $color-background-primary;
$component-authenticator-outline-border: $color-border-primary;
$component-authenticator-outline-text-default: $color-text-primary;
$component-authenticator-outline-text-placeholder: $color-text-secondary;
$component-avatar-fill-background: $color-background-brand;
$component-avatar-fill-border: $color-border-brand;
$component-avatar-fill-icon: $color-icon-on-brand;
$component-avatar-fill-text: $color-text-on-brand;
$component-avatar-soft-background: $color-background-brand-subtle;
$component-avatar-soft-border: $color-border-brand;
$component-avatar-soft-icon: $color-icon-brand-strong;
$component-avatar-soft-text: $color-text-brand-strong;
$component-backdrop-color: $color-gray-alpha-72;
$component-badge-fill-background: $context-brand-fill-background;
$component-badge-fill-border: $context-brand-fill-border;
$component-badge-fill-text: $context-brand-fill-text;
$component-badge-outline-background: $context-brand-outline-background;
$component-badge-outline-border: $context-brand-outline-icon;
$component-badge-outline-text: $context-brand-outline-text;
$component-badge-soft-background: $context-brand-soft-background;
$component-badge-soft-border: $context-brand-soft-border;
$component-badge-soft-text: $context-brand-soft-text;
$component-button-fill-background: $context-brand-fill-background;
$component-button-fill-border: $context-brand-fill-border;
$component-button-fill-icon: $context-brand-fill-icon;
$component-button-fill-text: $context-brand-fill-text;
$component-button-ghost-background: $color-background-transparent;
$component-button-ghost-border: $context-brand-ghost-border;
$component-button-ghost-icon: $context-brand-ghost-icon;
$component-button-ghost-text: $context-brand-ghost-text;
$component-button-outline-background: $color-background-primary;
$component-button-outline-border: $context-brand-outline-border;
$component-button-outline-icon: $context-brand-outline-icon;
$component-button-outline-text: $context-brand-outline-text;
$component-button-soft-background: $context-brand-soft-background;
$component-button-soft-border: $context-brand-soft-border;
$component-button-soft-icon: $context-brand-soft-icon;
$component-button-soft-text: $context-brand-soft-text;
$component-carousel-indicator-active: $color-border-brand;
$component-carousel-indicator-default: $color-border-primary;
$component-checkbox-background-checked: $color-background-brand;
$component-checkbox-background-default: $color-background-primary;
$component-checkbox-background-indeterminate: $color-background-brand;
$component-checkbox-border-checked: $color-border-brand;
$component-checkbox-border-default: $color-border-primary;
$component-checkbox-border-indeterminate: $color-border-brand;
$component-checkbox-icon-checked: $color-icon-on-brand;
$component-checkbox-icon-indeterminate: $color-icon-on-brand;
$component-chip-fill-background-active: $color-background-brand;
$component-chip-fill-background-default: $color-background-tertiary;
$component-chip-fill-border-active: $color-border-brand;
$component-chip-fill-border-default: $color-border-primary;
$component-chip-fill-icon-active: $color-icon-on-brand;
$component-chip-fill-icon-default: $color-icon-primary;
$component-chip-fill-text-active: $color-text-on-brand;
$component-chip-fill-text-default: $color-text-primary;
$component-chip-outline-background-active: $color-background-primary;
$component-chip-outline-background-default: $color-background-primary;
$component-chip-outline-border-active: $color-border-brand;
$component-chip-outline-border-default: $color-border-primary;
$component-chip-outline-icon-active: $color-icon-brand;
$component-chip-outline-icon-default: $color-icon-primary;
$component-chip-outline-text-active: $color-text-brand;
$component-chip-outline-text-default: $color-text-primary;
$component-chip-soft-background-active: $color-background-brand-subtle;
$component-chip-soft-background-default: $color-background-secondary;
$component-chip-soft-border-active: $color-border-brand;
$component-chip-soft-border-default: $color-border-primary;
$component-chip-soft-icon-active: $color-icon-brand-strong;
$component-chip-soft-icon-default: $color-icon-primary;
$component-chip-soft-text-active: $color-text-brand-strong;
$component-chip-soft-text-default: $color-text-primary;
$component-circular-progress-progress: $color-border-brand;
$component-circular-progress-track: $color-border-primary;
$component-dialog-background: $color-background-primary;
$component-dialog-border: $color-border-primary;
$component-drawer-background: $color-background-primary;
$component-drawer-border: $color-border-secondary;
$component-dropdown-background: $color-background-primary;
$component-dropdown-border: $color-border-primary;
$component-icon-button-fill-background: $context-brand-fill-background;
$component-icon-button-fill-border: $context-brand-fill-border;
$component-icon-button-fill-icon: $context-brand-fill-icon;
$component-icon-button-ghost-background: $color-background-transparent;
$component-icon-button-ghost-border: $context-brand-ghost-border;
$component-icon-button-ghost-icon: $context-brand-ghost-icon;
$component-icon-button-outline-background: $color-background-primary;
$component-icon-button-outline-border: $context-brand-outline-border;
$component-icon-button-outline-icon: $context-brand-outline-icon;
$component-icon-button-soft-background: $context-brand-soft-background;
$component-icon-button-soft-border: $context-brand-soft-border;
$component-icon-button-soft-icon: $context-brand-soft-icon;
$component-input-fill-background: $color-background-tertiary;
$component-input-fill-border: $color-border-primary;
$component-input-fill-icon-default: $color-icon-primary;
$component-input-fill-icon-placeholder: $color-icon-primary;
$component-input-fill-text-default: $color-text-primary;
$component-input-fill-text-placeholder: $color-text-secondary;
$component-input-outline-background: $color-background-primary;
$component-input-outline-border: $color-border-primary;
$component-input-outline-icon-default: $color-icon-primary;
$component-input-outline-icon-placeholder: $color-icon-primary;
$component-input-outline-text-default: $color-text-primary;
$component-input-outline-text-placeholder: $color-text-secondary;
$component-linear-progress-progress: $color-border-brand;
$component-linear-progress-track: $color-border-primary;
$component-list-background-default: $color-background-transparent;
$component-list-background-selected: $color-background-transparent;
$component-list-icon-default: $color-icon-primary;
$component-list-icon-selected: $color-icon-secondary;
$component-list-text-default: $color-text-primary;
$component-list-text-selected: $color-text-secondary;
$component-loader-progress: $context-brand-fill-background;
$component-loader-track: $color-background-tertiary;
$component-menu-background-default: $color-background-transparent;
$component-menu-background-selected: $color-background-brand-alpha;
$component-menu-border-default: $color-border-primary;
$component-menu-border-selected: $color-background-brand;
$component-menu-icon-default: $color-icon-primary;
$component-menu-icon-selected: $color-icon-brand;
$component-menu-text-default: $color-text-primary;
$component-menu-text-selected: $color-text-brand;
$component-pagination-background-active: $color-background-brand;
$component-pagination-background-default: $color-background-transparent;
$component-pagination-text-active: $color-text-on-brand;
$component-pagination-text-default: $color-text-primary;
$component-radio-background-checked: $color-background-brand;
$component-radio-background-default: $color-background-primary;
$component-radio-border-checked: $color-border-brand;
$component-radio-border-default: $color-border-primary;
$component-radio-icon-checked: $color-icon-on-brand;
$component-segmented-control-segment-background-active: $color-background-tertiary;
$component-segmented-control-segment-background-default: $color-background-transparent;
$component-segmented-control-segment-border-active: $color-border-primary;
$component-segmented-control-segment-border-default: $color-border-primary;
$component-segmented-control-segment-icon-active: $color-icon-primary;
$component-segmented-control-segment-icon-default: $color-icon-primary;
$component-segmented-control-segment-text-active: $color-text-primary;
$component-segmented-control-segment-text-default: $color-text-primary;
$component-segmented-control-track-background: $color-background-primary;
$component-segmented-control-track-border: $color-border-primary;
$component-select-fill-background: $color-background-tertiary;
$component-select-fill-border: $color-border-primary;
$component-select-fill-icon-default: $color-icon-primary;
$component-select-fill-icon-placeholder: $color-icon-primary;
$component-select-fill-text-default: $color-text-primary;
$component-select-fill-text-placeholder: $color-text-secondary;
$component-select-outline-background: $color-background-primary;
$component-select-outline-border: $color-border-primary;
$component-select-outline-icon-default: $color-icon-primary;
$component-select-outline-icon-placeholder: $color-icon-primary;
$component-select-outline-text-default: $color-text-primary;
$component-select-outline-text-placeholder: $color-text-secondary;
$component-slider-knob-background: $color-icon-force-light;
$component-slider-progress-background: $color-background-brand;
$component-slider-progress-border: $color-border-brand;
$component-slider-text: $color-text-primary;
$component-slider-track-background: $color-background-primary;
$component-slider-track-border: $color-border-primary;
$component-snackbar-fill-background: $context-brand-fill-background;
$component-snackbar-fill-border: $context-brand-fill-border;
$component-snackbar-fill-icon: $context-brand-fill-icon;
$component-snackbar-fill-text: $context-brand-fill-text;
$component-snackbar-soft-background: $context-brand-soft-background;
$component-snackbar-soft-border: $context-brand-soft-border;
$component-snackbar-soft-icon: $context-brand-soft-icon;
$component-snackbar-soft-text: $context-brand-soft-text;
$component-switch-background-checked: $color-background-positive;
$component-switch-background-default: $color-background-primary;
$component-switch-border-checked: $color-border-positive;
$component-switch-border-default: $color-border-primary;
$component-switch-icon-checked: $color-icon-on-positive;
$component-switch-icon-unselected: $color-icon-secondary;
$component-tab-list-tab-background-active: $color-background-transparent;
$component-tab-list-tab-background-default: $color-background-transparent;
$component-tab-list-tab-border-active: $color-border-brand;
$component-tab-list-tab-border-default: $color-border-primary;
$component-tab-list-tab-icon-active: $color-icon-brand;
$component-tab-list-tab-icon-default: $color-icon-primary;
$component-tab-list-tab-text-active: $color-text-brand;
$component-tab-list-tab-text-default: $color-text-primary;
$component-tab-list-track-border: $color-border-primary;
$component-tag-fill-background: $context-brand-fill-background;
$component-tag-fill-border: $context-brand-fill-border;
$component-tag-fill-icon: $context-brand-fill-icon;
$component-tag-fill-text: $context-brand-fill-text;
$component-tag-ghost-background: $color-background-transparent;
$component-tag-ghost-border: $context-brand-ghost-border;
$component-tag-ghost-icon: $context-brand-ghost-icon;
$component-tag-ghost-text: $context-brand-ghost-text;
$component-tag-outline-background: $context-brand-outline-background;
$component-tag-outline-border: $context-brand-outline-border;
$component-tag-outline-icon: $context-brand-outline-icon;
$component-tag-outline-text: $context-brand-outline-text;
$component-tag-soft-background: $context-brand-soft-background;
$component-tag-soft-border: $context-brand-soft-border;
$component-tag-soft-icon: $context-brand-soft-icon;
$component-tag-soft-text: $context-brand-soft-text;
$component-textarea-fill-background: $color-background-tertiary;
$component-textarea-fill-border: $color-border-primary;
$component-textarea-fill-text-default: $color-text-primary;
$component-textarea-fill-text-placeholder: $color-text-secondary;
$component-textarea-outline-background: $color-background-primary;
$component-textarea-outline-border: $color-border-primary;
$component-textarea-outline-text-default: $color-text-primary;
$component-textarea-outline-text-placeholder: $color-text-secondary;
$component-tooltip-background: $color-background-inverse;
$component-tooltip-pointer: $color-background-inverse;
$component-tooltip-text: $color-text-inverse;
$context-brand-fill-background: $color-background-brand;
$context-brand-fill-border: $color-border-brand;
$context-brand-fill-icon: $color-icon-on-brand;
$context-brand-fill-text: $color-text-on-brand;
$context-brand-ghost-background: $color-background-transparent;
$context-brand-ghost-border: $color-border-brand;
$context-brand-ghost-icon: $color-icon-brand;
$context-brand-ghost-text: $color-text-brand;
$context-brand-outline-background: $color-background-transparent;
$context-brand-outline-border: $color-border-brand;
$context-brand-outline-icon: $color-icon-brand;
$context-brand-outline-text: $color-text-brand;
$context-brand-soft-background: $color-background-brand-alpha;
$context-brand-soft-border: $color-border-brand;
$context-brand-soft-icon: $color-icon-primary;
$context-brand-soft-text: $color-text-primary;
$context-caution-fill-background: $color-background-caution;
$context-caution-fill-border: $color-border-caution;
$context-caution-fill-icon: $color-icon-on-caution;
$context-caution-fill-text: $color-text-on-caution;
$context-caution-ghost-background: $color-background-transparent;
$context-caution-ghost-border: $color-border-caution;
$context-caution-ghost-icon: $color-icon-caution;
$context-caution-ghost-text: $color-text-caution;
$context-caution-outline-background: $color-background-transparent;
$context-caution-outline-border: $color-border-caution;
$context-caution-outline-icon: $color-icon-caution;
$context-caution-outline-text: $color-text-caution;
$context-caution-soft-background: $color-background-caution-alpha;
$context-caution-soft-border: $color-border-caution;
$context-caution-soft-icon: $color-icon-primary;
$context-caution-soft-text: $color-text-primary;
$context-info-fill-background: $color-background-info;
$context-info-fill-border: $color-border-info;
$context-info-fill-icon: $color-icon-on-info;
$context-info-fill-text: $color-text-on-info;
$context-info-ghost-background: $color-background-transparent;
$context-info-ghost-border: $color-border-info;
$context-info-ghost-icon: $color-icon-info;
$context-info-ghost-text: $color-text-info;
$context-info-outline-background: $color-background-transparent;
$context-info-outline-border: $color-border-info;
$context-info-outline-icon: $color-icon-info;
$context-info-outline-text: $color-text-info;
$context-info-soft-background: $color-background-info-alpha;
$context-info-soft-border: $color-border-info;
$context-info-soft-icon: $color-icon-primary;
$context-info-soft-text: $color-text-primary;
$context-negative-fill-background: $color-background-negative;
$context-negative-fill-border: $color-border-negative;
$context-negative-fill-icon: $color-icon-on-negative;
$context-negative-fill-text: $color-text-on-negative;
$context-negative-ghost-background: $color-background-transparent;
$context-negative-ghost-border: $color-border-negative;
$context-negative-ghost-icon: $color-icon-negative;
$context-negative-ghost-text: $color-text-negative;
$context-negative-outline-background: $color-background-transparent;
$context-negative-outline-border: $color-border-negative;
$context-negative-outline-icon: $color-icon-negative;
$context-negative-outline-text: $color-text-negative;
$context-negative-soft-background: $color-background-negative-alpha;
$context-negative-soft-border: $color-border-negative;
$context-negative-soft-icon: $color-icon-primary;
$context-negative-soft-text: $color-text-primary;
$context-neutral-fill-background: $color-background-neutral;
$context-neutral-fill-border: $color-border-primary;
$context-neutral-fill-icon: $color-icon-on-neutral;
$context-neutral-fill-text: $color-text-on-neutral;
$context-neutral-ghost-background: $color-background-transparent;
$context-neutral-ghost-border: $color-border-primary;
$context-neutral-ghost-icon: $color-icon-secondary;
$context-neutral-ghost-text: $color-text-secondary;
$context-neutral-outline-background: $color-background-transparent;
$context-neutral-outline-border: $color-border-primary;
$context-neutral-outline-icon: $color-icon-primary;
$context-neutral-outline-text: $color-text-primary;
$context-neutral-soft-background: $color-background-neutral-alpha;
$context-neutral-soft-border: $color-border-primary;
$context-neutral-soft-icon: $color-icon-primary;
$context-neutral-soft-text: $color-text-primary;
$context-positive-fill-background: $color-background-positive;
$context-positive-fill-border: $color-border-positive;
$context-positive-fill-icon: $color-icon-on-positive;
$context-positive-fill-text: $color-text-on-positive;
$context-positive-ghost-background: $color-background-transparent;
$context-positive-ghost-border: $color-border-positive;
$context-positive-ghost-icon: $color-icon-positive;
$context-positive-ghost-text: $color-text-positive;
$context-positive-outline-background: $color-background-transparent;
$context-positive-outline-border: $color-border-positive;
$context-positive-outline-icon: $color-icon-positive;
$context-positive-outline-text: $color-text-positive;
$context-positive-soft-background: $color-background-positive-alpha;
$context-positive-soft-border: $color-border-positive;
$context-positive-soft-icon: $color-icon-primary;
$context-positive-soft-text: $color-text-primary;
$style-focus-color: $color-border-brand;
