$breakpoint-xs: 576px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1400px;
$container-height-160: 160px;
$container-height-200: 200px;
$container-height-240: 240px;
$container-height-320: 320px;
$container-height-480: 480px;
$container-height-560: 560px;
$container-height-640: 640px;
$container-height-720: 720px;
$container-height-800: 800px;
$container-width-1024: 1024px;
$container-width-256: 256px;
$container-width-288: 288px;
$container-width-320: 320px;
$container-width-384: 384px;
$container-width-448: 448px;
$container-width-512: 512px;
$container-width-576: 576px;
$container-width-672: 672px;
$container-width-768: 768px;
$container-width-896: 896px;
$primitives-0: 0;
$primitives-104: 104px;
$primitives-10: 10px;
$primitives-112: 112px;
$primitives-120: 120px;
$primitives-128: 128px;
$primitives-12: 12px;
$primitives-136: 136px;
$primitives-144: 144px;
$primitives-14: 14px;
$primitives-152: 152px;
$primitives-160: 160px;
$primitives-16: 16px;
$primitives-18: 18px;
$primitives-1: 1px;
$primitives-200: 200px;
$primitives-20: 20px;
$primitives-22: 22px;
$primitives-240: 240px;
$primitives-24: 24px;
$primitives-26: 26px;
$primitives-280: 280px;
$primitives-28: 28px;
$primitives-2: 2px;
$primitives-320: 320px;
$primitives-32: 32px;
$primitives-360: 360px;
$primitives-36: 36px;
$primitives-400: 400px;
$primitives-40: 40px;
$primitives-440: 440px;
$primitives-480: 480px;
$primitives-48: 48px;
$primitives-4: 4px;
$primitives-520: 520px;
$primitives-560: 560px;
$primitives-56: 56px;
$primitives-600: 600px;
$primitives-64: 64px;
$primitives-6: 6px;
$primitives-72: 72px;
$primitives-80: 80px;
$primitives-88: 88px;
$primitives-8: 8px;
$primitives-96: 96px;
$primitives-9999: 9999px;
$primitives-9: 9px;
$primitives-neg12: -12px;
$primitives-neg2: -2px;
$primitives-neg4: -4px;
$text-10: $primitives-10;
$text-12: $primitives-12;
$text-14: $primitives-14;
$text-16: $primitives-16;
$text-18: $primitives-18;
$text-20: $primitives-20;
$text-24: $primitives-24;
$text-32: $primitives-32;
$text-40: $primitives-40;
$text-48: $primitives-48;
$text-56: $primitives-56;
$text-72: $primitives-72;
$text-96: $primitives-96;
$text-9: $primitives-9;
$leading-104: $primitives-104;
$leading-12: $primitives-12;
$leading-14: $primitives-14;
$leading-16: $primitives-16;
$leading-20: $primitives-20;
$leading-24: $primitives-24;
$leading-26: $primitives-26;
$leading-28: $primitives-28;
$leading-32: $primitives-32;
$leading-40: $primitives-40;
$leading-48: $primitives-48;
$leading-56: $primitives-56;
$leading-64: $primitives-64;
$leading-80: $primitives-80;
$spacing-paragraph-spacing-10: $primitives-10;
$spacing-paragraph-spacing-12: $primitives-12;
$spacing-paragraph-spacing-16: $primitives-16;
$spacing-paragraph-spacing-20: $primitives-20;
$spacing-paragraph-spacing-24: $primitives-24;
$spacing-paragraph-spacing-32: $primitives-32;
$spacing-paragraph-spacing-40: $primitives-40;
$spacing-paragraph-spacing-48: $primitives-48;
$spacing-paragraph-spacing-4: $primitives-4;
$spacing-paragraph-spacing-56: $primitives-56;
$spacing-paragraph-spacing-6: $primitives-6;
$spacing-paragraph-spacing-72: $primitives-72;
$spacing-paragraph-spacing-8: $primitives-8;
$spacing-paragraph-spacing-96: $primitives-96;
$radius-0: $primitives-0;
$radius-10: $primitives-10;
$radius-12: $primitives-12;
$radius-16: $primitives-16;
$radius-20: $primitives-20;
$radius-24: $primitives-24;
$radius-2: $primitives-2;
$radius-4: $primitives-4;
$radius-6: $primitives-6;
$radius-8: $primitives-8;
$radius-9999: $primitives-9999;
$spacing-space-0: $primitives-0;
$spacing-space-10: $primitives-10;
$spacing-space-12: $primitives-12;
$spacing-space-16: $primitives-16;
$spacing-space-20: $primitives-20;
$spacing-space-24: $primitives-24;
$spacing-space-2: $primitives-2;
$spacing-space-32: $primitives-32;
$spacing-space-40: $primitives-40;
$spacing-space-48: $primitives-48;
$spacing-space-4: $primitives-4;
$spacing-space-56: $primitives-56;
$spacing-space-64: $primitives-64;
$spacing-space-6: $primitives-6;
$spacing-space-72: $primitives-72;
$spacing-space-8: $primitives-8;
$spacing-stroke-0: $primitives-0;
$spacing-stroke-1: $primitives-1;
$spacing-stroke-2: $primitives-2;
$style-focus-color: $color-border-brand;
$style-focus-offset: $primitives-2;
$style-focus-spread: $primitives-4;
$font-default: "DM Sans";
$font-weight-bold: 600;
$font-weight-default: 400;
$font-weight-medium: 500;
$style-opacity-disabled: 0.64;
$style-shadow-100-layer-1-blur: $primitives-2;
$style-shadow-100-layer-1-color: rgb(0 0 0 / 0.06);
$style-shadow-100-layer-1-spread: $primitives-0;
$style-shadow-100-layer-1-x: $primitives-0;
$style-shadow-100-layer-1-y: $primitives-1;
$style-shadow-100-layer-2-blur: $primitives-0;
$style-shadow-100-layer-2-color: rgb(0 0 0 / 0);
$style-shadow-100-layer-2-spread: $primitives-0;
$style-shadow-100-layer-2-x: $primitives-0;
$style-shadow-100-layer-2-y: $primitives-0;
$style-shadow-200-layer-1-blur: $primitives-8;
$style-shadow-200-layer-1-color: rgb(0 0 0 / 0.1);
$style-shadow-200-layer-1-spread: $primitives-neg4;
$style-shadow-200-layer-1-x: $primitives-0;
$style-shadow-200-layer-1-y: $primitives-4;
$style-shadow-200-layer-2-blur: $primitives-4;
$style-shadow-200-layer-2-color: rgb(0 0 0 / 0.04);
$style-shadow-200-layer-2-spread: $primitives-neg2;
$style-shadow-200-layer-2-x: $primitives-0;
$style-shadow-200-layer-2-y: $primitives-2;
$style-shadow-300-layer-1-blur: $primitives-16;
$style-shadow-300-layer-1-color: rgb(0 0 0 / 0.08);
$style-shadow-300-layer-1-spread: $primitives-neg4;
$style-shadow-300-layer-1-x: $primitives-0;
$style-shadow-300-layer-1-y: $primitives-12;
$style-shadow-300-layer-2-blur: $primitives-8;
$style-shadow-300-layer-2-color: rgb(0 0 0 / 0.04);
$style-shadow-300-layer-2-spread: $primitives-neg2;
$style-shadow-300-layer-2-x: $primitives-0;
$style-shadow-300-layer-2-y: $primitives-4;
$style-shadow-400-layer-1-blur: $primitives-24;
$style-shadow-400-layer-1-color: rgb(0 0 0 / 0.08);
$style-shadow-400-layer-1-spread: $primitives-neg4;
$style-shadow-400-layer-1-x: $primitives-0;
$style-shadow-400-layer-1-y: $primitives-20;
$style-shadow-400-layer-2-blur: $primitives-8;
$style-shadow-400-layer-2-color: rgb(0 0 0 / 0.04);
$style-shadow-400-layer-2-spread: $primitives-neg4;
$style-shadow-400-layer-2-x: $primitives-0;
$style-shadow-400-layer-2-y: $primitives-8;
$style-shadow-500-layer-1-blur: $primitives-48;
$style-shadow-500-layer-1-color: rgb(0 0 0 / 0.16);
$style-shadow-500-layer-1-spread: $primitives-neg12;
$style-shadow-500-layer-1-x: $primitives-0;
$style-shadow-500-layer-1-y: $primitives-24;
$style-shadow-500-layer-2-blur: $primitives-0;
$style-shadow-500-layer-2-color: rgb(0 0 0 / 0);
$style-shadow-500-layer-2-spread: $primitives-0;
$style-shadow-500-layer-2-x: $primitives-0;
$style-shadow-500-layer-2-y: $primitives-0;
$style-shadow-600-layer-1-blur: $primitives-64;
$style-shadow-600-layer-1-color: rgb(0 0 0 / 0.16);
$style-shadow-600-layer-1-spread: $primitives-neg12;
$style-shadow-600-layer-1-x: $primitives-0;
$style-shadow-600-layer-1-y: $primitives-32;
$style-shadow-600-layer-2-blur: $primitives-0;
$style-shadow-600-layer-2-color: rgb(0 0 0 / 0);
$style-shadow-600-layer-2-spread: $primitives-0;
$style-shadow-600-layer-2-x: $primitives-0;
$style-shadow-600-layer-2-y: $primitives-0;
$style-text-2xl-font-size: $text-20;
$style-text-2xl-font-weight-bold: $font-weight-bold;
$style-text-2xl-font-weight-default: $font-weight-default;
$style-text-2xl-font-weight-medium: $font-weight-medium;
$style-text-2xl-line-height: $leading-28;
$style-text-2xl-paragraph-spacing: $spacing-paragraph-spacing-20;
$style-text-2xs-font-size: $text-9;
$style-text-2xs-font-weight-bold: $font-weight-bold;
$style-text-2xs-font-weight-default: $font-weight-default;
$style-text-2xs-font-weight-medium: $font-weight-medium;
$style-text-2xs-line-height: $leading-12;
$style-text-2xs-paragraph-spacing: $spacing-paragraph-spacing-4;
$style-text-3xl-font-size: $text-24;
$style-text-3xl-font-weight-bold: $font-weight-bold;
$style-text-3xl-font-weight-default: $font-weight-default;
$style-text-3xl-font-weight-medium: $font-weight-medium;
$style-text-3xl-line-height: $leading-32;
$style-text-3xl-paragraph-spacing: $spacing-paragraph-spacing-24;
$style-text-4xl-font-size: $text-32;
$style-text-4xl-font-weight-bold: $font-weight-bold;
$style-text-4xl-font-weight-default: $font-weight-default;
$style-text-4xl-font-weight-medium: $font-weight-medium;
$style-text-4xl-line-height: $leading-40;
$style-text-4xl-paragraph-spacing: $spacing-paragraph-spacing-32;
$style-text-5xl-font-size: $text-40;
$style-text-5xl-font-weight-bold: $font-weight-bold;
$style-text-5xl-font-weight-default: $font-weight-default;
$style-text-5xl-font-weight-medium: $font-weight-medium;
$style-text-5xl-line-height: $leading-48;
$style-text-5xl-paragraph-spacing: $spacing-paragraph-spacing-40;
$style-text-6xl-font-size: $text-48;
$style-text-6xl-font-weight-bold: $font-weight-bold;
$style-text-6xl-font-weight-default: $font-weight-default;
$style-text-6xl-font-weight-medium: $font-weight-medium;
$style-text-6xl-line-height: $leading-56;
$style-text-6xl-paragraph-spacing: $spacing-paragraph-spacing-48;
$style-text-7xl-font-size: $text-56;
$style-text-7xl-font-weight-bold: $font-weight-bold;
$style-text-7xl-font-weight-default: $font-weight-default;
$style-text-7xl-font-weight-medium: $font-weight-medium;
$style-text-7xl-line-height: $leading-64;
$style-text-7xl-paragraph-spacing: $spacing-paragraph-spacing-56;
$style-text-8xl-font-size: $text-72;
$style-text-8xl-font-weight-bold: $font-weight-bold;
$style-text-8xl-font-weight-default: $font-weight-default;
$style-text-8xl-font-weight-medium: $font-weight-medium;
$style-text-8xl-line-height: $leading-80;
$style-text-8xl-paragraph-spacing: $spacing-paragraph-spacing-72;
$style-text-9xl-font-size: $text-96;
$style-text-9xl-font-weight-bold: $font-weight-bold;
$style-text-9xl-font-weight-default: $font-weight-default;
$style-text-9xl-font-weight-medium: $font-weight-medium;
$style-text-9xl-line-height: $leading-104;
$style-text-9xl-paragraph-spacing: $spacing-paragraph-spacing-96;
$style-text-lg-font-size: $text-16;
$style-text-lg-font-weight-bold: $font-weight-bold;
$style-text-lg-font-weight-default: $font-weight-default;
$style-text-lg-font-weight-medium: $font-weight-medium;
$style-text-lg-line-height: $leading-24;
$style-text-lg-paragraph-spacing: $spacing-paragraph-spacing-12;
$style-text-md-font-size: $text-14;
$style-text-md-font-weight-bold: $font-weight-bold;
$style-text-md-font-weight-default: $font-weight-default;
$style-text-md-font-weight-medium: $font-weight-medium;
$style-text-md-line-height: $leading-20;
$style-text-md-paragraph-spacing: $spacing-paragraph-spacing-10;
$style-text-sm-font-size: $text-12;
$style-text-sm-font-weight-bold: $font-weight-bold;
$style-text-sm-font-weight-default: $font-weight-default;
$style-text-sm-font-weight-medium: $font-weight-medium;
$style-text-sm-line-height: $leading-16;
$style-text-sm-paragraph-spacing: $spacing-paragraph-spacing-8;
$style-text-xl-font-size: $text-18;
$style-text-xl-font-weight-bold: $font-weight-bold;
$style-text-xl-font-weight-default: $font-weight-default;
$style-text-xl-font-weight-medium: $font-weight-medium;
$style-text-xl-line-height: $leading-26;
$style-text-xl-paragraph-spacing: $spacing-paragraph-spacing-16;
$style-text-xs-bold: $font-weight-bold;
$style-text-xs-default: $font-weight-default;
$style-text-xs-font-size: $text-10;
$style-text-xs-font-weight-bold: $font-weight-bold;
$style-text-xs-font-weight-default: $font-weight-default;
$style-text-xs-font-weight-medium: $font-weight-medium;
$style-text-xs-line-height: $leading-14;
$style-text-xs-medium: $font-weight-medium;
$style-text-xs-paragraph-spacing: $spacing-paragraph-spacing-6;

$component-accordion-fill-background: $color-background-tertiary;
$component-accordion-fill-border: $color-border-primary;
$component-accordion-fill-icon: $color-icon-primary;
$component-accordion-fill-stroke: $spacing-stroke-0;
$component-accordion-fill-title: $color-text-primary;
$component-accordion-ghost-background: $color-background-transparent;
$component-accordion-ghost-border: $color-border-primary;
$component-accordion-ghost-icon: $color-icon-primary;
$component-accordion-ghost-stroke: $spacing-stroke-0;
$component-accordion-ghost-title: $color-text-primary;
$component-accordion-outline-background: $color-background-primary;
$component-accordion-outline-border: $color-border-primary;
$component-accordion-outline-icon: $color-icon-primary;
$component-accordion-outline-stroke: $spacing-stroke-1;
$component-accordion-outline-title: $color-text-primary;
$component-accordion-radius-lg: $radius-8;
$component-accordion-radius-md: $radius-8;
$component-accordion-radius-sm: $radius-4;
$component-accordion-radius-xl: $radius-8;
$component-alert-fill-background: $context-brand-fill-background;
$component-alert-fill-border: $context-brand-fill-border;
$component-alert-fill-icon: $context-brand-fill-icon;
$component-alert-fill-stroke: $spacing-stroke-0;
$component-alert-fill-text: $context-brand-fill-text;
$component-alert-outline-background: $context-brand-outline-background;
$component-alert-outline-border: $context-brand-outline-border;
$component-alert-outline-icon: $context-brand-outline-icon;
$component-alert-outline-stroke: $spacing-stroke-1;
$component-alert-outline-text: $context-brand-outline-text;
$component-alert-radius-md: $radius-8;
$component-alert-radius-radius: $radius-8;
$component-alert-soft-background: $context-brand-soft-background;
$component-alert-soft-border: $context-brand-soft-border;
$component-alert-soft-icon: $context-brand-soft-icon;
$component-alert-soft-stroke: $spacing-stroke-0;
$component-alert-soft-text: $context-brand-soft-text;
$component-authenticator-fill-background: $color-background-ui;
$component-authenticator-fill-border: $color-border-ui;
$component-authenticator-fill-stroke: $spacing-stroke-0;
$component-authenticator-fill-text-default: $color-text-on-ui;
$component-authenticator-fill-text-placeholder: $color-text-secondary;
$component-authenticator-outline-background: $color-background-primary;
$component-authenticator-outline-border: $color-border-primary;
$component-authenticator-outline-stroke: $spacing-stroke-1;
$component-authenticator-outline-text-default: $color-text-primary;
$component-authenticator-outline-text-placeholder: $color-text-secondary;
$component-avatar-fill-background: $color-background-brand;
$component-avatar-fill-border: $color-border-brand;
$component-avatar-fill-icon: $color-icon-on-brand;
$component-avatar-fill-stroke: $spacing-stroke-0;
$component-avatar-fill-text: $color-text-on-brand;
$component-avatar-radius-2xl: $radius-8;
$component-avatar-radius-lg: $radius-8;
$component-avatar-radius-md: $radius-8;
$component-avatar-radius-sm: $radius-4;
$component-avatar-radius-xl: $radius-8;
$component-avatar-radius-xs: $radius-4;
$component-avatar-soft-background: $color-background-brand-subtle;
$component-avatar-soft-border: $color-border-brand;
$component-avatar-soft-icon: $color-icon-brand-strong;
$component-avatar-soft-stroke: $spacing-stroke-0;
$component-avatar-soft-text: $color-text-brand-strong;
$component-backdrop-blur: $primitives-4;
$component-backdrop-color: $color-gray-alpha-72;
$component-badge-fill-background: $context-brand-fill-background;
$component-badge-fill-border: $context-brand-fill-border;
$component-badge-fill-stroke: $spacing-stroke-0;
$component-badge-fill-text: $context-brand-fill-text;
$component-badge-outline-background: $context-brand-outline-background;
$component-badge-outline-border: $context-brand-outline-icon;
$component-badge-outline-stroke: $spacing-stroke-1;
$component-badge-outline-text: $context-brand-outline-text;
$component-badge-soft-background: $context-brand-soft-background;
$component-badge-soft-border: $context-brand-soft-border;
$component-badge-soft-stroke: $spacing-stroke-0;
$component-badge-soft-text: $context-brand-soft-text;
$component-bottom-sheet-min-height: $container-height-200;
$component-bottom-sheet-radius: $radius-8;
$component-button-fill-background: $context-brand-fill-background;
$component-button-fill-border: $context-brand-fill-border;
$component-button-fill-icon: $context-brand-fill-icon;
$component-button-fill-stroke: $spacing-stroke-0;
$component-button-fill-text: $context-brand-fill-text;
$component-button-ghost-background: $color-background-transparent;
$component-button-ghost-border: $context-brand-ghost-border;
$component-button-ghost-icon: $context-brand-ghost-icon;
$component-button-ghost-stroke: $spacing-stroke-0;
$component-button-ghost-text: $context-brand-ghost-text;
$component-button-outline-background: $color-background-primary;
$component-button-outline-border: $context-brand-outline-border;
$component-button-outline-icon: $context-brand-outline-icon;
$component-button-outline-stroke: $spacing-stroke-1;
$component-button-outline-text: $context-brand-outline-text;
$component-button-radius-lg: $radius-8;
$component-button-radius-md: $radius-8;
$component-button-radius-sm: $radius-4;
$component-button-radius-xl: $radius-8;
$component-button-radius-xs: $radius-4;
$component-button-soft-background: $context-brand-soft-background;
$component-button-soft-border: $context-brand-soft-border;
$component-button-soft-icon: $context-brand-soft-icon;
$component-button-soft-stroke: $spacing-stroke-0;
$component-button-soft-text: $context-brand-soft-text;
$component-carousel-indicator-active: $color-border-brand;
$component-carousel-indicator-default: $color-border-primary;
$component-checkbox-background-checked: $color-background-brand;
$component-checkbox-background-default: $color-background-primary;
$component-checkbox-background-indeterminate: $color-background-brand;
$component-checkbox-border-checked: $color-border-brand;
$component-checkbox-border-default: $color-border-primary;
$component-checkbox-border-indeterminate: $color-border-brand;
$component-checkbox-icon-checked: $color-icon-on-brand;
$component-checkbox-icon-indeterminate: $color-icon-on-brand;
$component-checkbox-radius: $radius-4;
$component-checkbox-stroke-checked: $spacing-stroke-0;
$component-checkbox-stroke-default: $spacing-stroke-1;
$component-checkbox-stroke-indeterminate: $spacing-stroke-0;
$component-chip-fill-background-active: $color-background-brand;
$component-chip-fill-background-default: $color-background-tertiary;
$component-chip-fill-border-active: $color-border-brand;
$component-chip-fill-border-default: $color-border-primary;
$component-chip-fill-icon-active: $color-icon-on-brand;
$component-chip-fill-icon-default: $color-icon-primary;
$component-chip-fill-stroke-active: $spacing-stroke-0;
$component-chip-fill-stroke-default: $spacing-stroke-0;
$component-chip-fill-text-active: $color-text-on-brand;
$component-chip-fill-text-default: $color-text-primary;
$component-chip-outline-background-active: $color-background-primary;
$component-chip-outline-background-default: $color-background-primary;
$component-chip-outline-border-active: $color-border-brand;
$component-chip-outline-border-default: $color-border-primary;
$component-chip-outline-icon-active: $color-icon-brand;
$component-chip-outline-icon-default: $color-icon-primary;
$component-chip-outline-stroke-active: $spacing-stroke-1;
$component-chip-outline-stroke-default: $spacing-stroke-1;
$component-chip-outline-text-active: $color-text-brand;
$component-chip-outline-text-default: $color-text-primary;
$component-chip-radius-md: $radius-8;
$component-chip-radius-sm: $radius-4;
$component-chip-soft-background-active: $color-background-brand-subtle;
$component-chip-soft-background-default: $color-background-secondary;
$component-chip-soft-border-active: $color-border-brand;
$component-chip-soft-border-default: $color-border-primary;
$component-chip-soft-icon-active: $color-icon-brand-strong;
$component-chip-soft-icon-default: $color-icon-primary;
$component-chip-soft-stroke-active: $spacing-stroke-0;
$component-chip-soft-stroke-default: $spacing-stroke-0;
$component-chip-soft-text-active: $color-text-brand-strong;
$component-chip-soft-text-default: $color-text-primary;
$component-circular-progress-progress: $color-border-brand;
$component-circular-progress-track: $color-border-primary;
$component-dialog-background: $color-background-primary;
$component-dialog-border: $color-border-primary;
$component-dialog-max-height: $container-height-800;
$component-dialog-max-width: $container-width-672;
$component-dialog-min-width: $container-width-320;
$component-dialog-radius: $radius-12;
$component-dialog-radius: $radius-8;
$component-dialog-stroke: $spacing-stroke-0;
$component-drawer-background: $color-background-primary;
$component-drawer-border: $color-border-secondary;
$component-drawer-max-width: $container-width-768;
$component-drawer-min-width: $container-width-320;
$component-drawer-radius: $radius-12;
$component-drawer-radius: $radius-8;
$component-drawer-stroke: $spacing-stroke-1;
$component-dropdown-background: $color-background-primary;
$component-dropdown-border: $color-border-primary;
$component-dropdown-max-height: $container-height-480;
$component-dropdown-max-width: $container-width-320;
$component-dropdown-min-width: $container-width-256;
$component-dropdown-radius: $radius-8;
$component-dropdown-stroke: $spacing-stroke-1;
$component-forms-radius-lg: $radius-8;
$component-forms-radius-md: $radius-8;
$component-forms-radius-sm: $radius-4;
$component-forms-radius-xl: $radius-8;
$component-icon-button-fill-background: $context-brand-fill-background;
$component-icon-button-fill-border: $context-brand-fill-border;
$component-icon-button-fill-icon: $context-brand-fill-icon;
$component-icon-button-fill-stroke: $spacing-stroke-0;
$component-icon-button-ghost-background: $color-background-transparent;
$component-icon-button-ghost-border: $context-brand-ghost-border;
$component-icon-button-ghost-icon: $context-brand-ghost-icon;
$component-icon-button-ghost-stroke: $spacing-stroke-0;
$component-icon-button-outline-background: $color-background-primary;
$component-icon-button-outline-border: $context-brand-outline-border;
$component-icon-button-outline-icon: $context-brand-outline-icon;
$component-icon-button-outline-stroke: $spacing-stroke-1;
$component-icon-button-soft-background: $context-brand-soft-background;
$component-icon-button-soft-border: $context-brand-soft-border;
$component-icon-button-soft-icon: $context-brand-soft-icon;
$component-icon-button-soft-stroke: $spacing-stroke-0;
$component-input-fill-background: $color-background-tertiary;
$component-input-fill-border: $color-border-primary;
$component-input-fill-icon-default: $color-icon-primary;
$component-input-fill-icon-placeholder: $color-icon-primary;
$component-input-fill-stroke: $spacing-stroke-0;
$component-input-fill-text-default: $color-text-primary;
$component-input-fill-text-placeholder: $color-text-secondary;
$component-input-outline-background: $color-background-primary;
$component-input-outline-border: $color-border-primary;
$component-input-outline-icon-default: $color-icon-primary;
$component-input-outline-icon-placeholder: $color-icon-primary;
$component-input-outline-stroke: $spacing-stroke-1;
$component-input-outline-text-default: $color-text-primary;
$component-input-outline-text-placeholder: $color-text-secondary;
$component-linear-progress-progress: $color-border-brand;
$component-linear-progress-track: $color-border-primary;
$component-list-background-default: $color-background-transparent;
$component-list-background-selected: $color-background-transparent;
$component-list-icon-default: $color-icon-primary;
$component-list-icon-selected: $color-icon-secondary;
$component-list-text-default: $color-text-primary;
$component-list-text-selected: $color-text-secondary;
$component-loader-progress: $context-brand-fill-background;
$component-loader-track: $color-background-tertiary;
$component-menu-background-default: $color-background-transparent;
$component-menu-background-selected: $color-background-brand-alpha;
$component-menu-border-default: $color-border-primary;
$component-menu-border-selected: $color-background-brand;
$component-menu-icon-default: $color-icon-primary;
$component-menu-icon-selected: $color-icon-brand;
$component-menu-radius-lg: $radius-8;
$component-menu-radius-md: $radius-8;
$component-menu-radius-sm: $radius-4;
$component-menu-stroke-default: $spacing-stroke-0;
$component-menu-stroke-selected: $spacing-stroke-0;
$component-menu-text-default: $color-text-primary;
$component-menu-text-selected: $color-text-brand;
$component-pagination-background-active: $color-background-brand;
$component-pagination-background-default: $color-background-transparent;
$component-pagination-text-active: $color-text-on-brand;
$component-pagination-text-default: $color-text-primary;
$component-radio-background-checked: $color-background-brand;
$component-radio-background-default: $color-background-primary;
$component-radio-border-checked: $color-border-brand;
$component-radio-border-default: $color-border-primary;
$component-radio-icon-checked: $color-icon-on-brand;
$component-radio-stroke-checked: $spacing-stroke-0;
$component-radio-stroke-default: $spacing-stroke-1;
$component-segmented-control-segment-background-active: $color-background-tertiary;
$component-segmented-control-segment-background-default: $color-background-transparent;
$component-segmented-control-segment-border-active: $color-border-primary;
$component-segmented-control-segment-border-default: $color-border-primary;
$component-segmented-control-segment-icon-active: $color-icon-primary;
$component-segmented-control-segment-icon-default: $color-icon-primary;
$component-segmented-control-segment-radius-md: $radius-4;
$component-segmented-control-segment-radius-sm: $radius-4;
$component-segmented-control-segment-radius-xs: $radius-2;
$component-segmented-control-segment-stroke-active: $spacing-stroke-0;
$component-segmented-control-segment-stroke-default: $spacing-stroke-0;
$component-segmented-control-segment-text-active: $color-text-primary;
$component-segmented-control-segment-text-default: $color-text-primary;
$component-segmented-control-track-background: $color-background-primary;
$component-segmented-control-track-border: $color-border-primary;
$component-segmented-control-track-radius-lg: $radius-8;
$component-segmented-control-track-radius-md: $radius-8;
$component-segmented-control-track-radius-sm: $radius-4;
$component-segmented-control-track-stroke: $spacing-stroke-1;
$component-select-fill-background: $color-background-tertiary;
$component-select-fill-border: $color-border-primary;
$component-select-fill-icon-default: $color-icon-primary;
$component-select-fill-icon-placeholder: $color-icon-primary;
$component-select-fill-stroke: $spacing-stroke-0;
$component-select-fill-text-default: $color-text-primary;
$component-select-fill-text-placeholder: $color-text-secondary;
$component-select-outline-background: $color-background-primary;
$component-select-outline-border: $color-border-primary;
$component-select-outline-icon-default: $color-icon-primary;
$component-select-outline-icon-placeholder: $color-icon-primary;
$component-select-outline-stroke: $spacing-stroke-1;
$component-select-outline-text-default: $color-text-primary;
$component-select-outline-text-placeholder: $color-text-secondary;
$component-slider-knob-background: $color-icon-force-light;
$component-slider-progress-background: $color-background-brand;
$component-slider-progress-border: $color-border-brand;
$component-slider-stroke: $spacing-stroke-1;
$component-slider-text: $color-text-primary;
$component-slider-track-background: $color-background-primary;
$component-slider-track-border: $color-border-primary;
$component-snackbar-fill-background: $context-brand-fill-background;
$component-snackbar-fill-border: $context-brand-fill-border;
$component-snackbar-fill-icon: $context-brand-fill-icon;
$component-snackbar-fill-max-width: $container-width-384;
$component-snackbar-fill-stroke: $spacing-stroke-0;
$component-snackbar-fill-text: $context-brand-fill-text;
$component-snackbar-radius: $radius-8;
$component-snackbar-soft-background: $context-brand-soft-background;
$component-snackbar-soft-border: $context-brand-soft-border;
$component-snackbar-soft-icon: $context-brand-soft-icon;
$component-snackbar-soft-max-width: $container-width-384;
$component-snackbar-soft-stroke: $spacing-stroke-0;
$component-snackbar-soft-text: $context-brand-soft-text;
$component-switch-background-checked: $color-background-positive;
$component-switch-background-default: $color-background-primary;
$component-switch-border-checked: $color-border-positive;
$component-switch-border-default: $color-border-primary;
$component-switch-icon-checked: $color-icon-on-positive;
$component-switch-icon-unselected: $color-icon-secondary;
$component-switch-size-padding: $spacing-space-2;
$component-switch-stroke-checked: $spacing-stroke-0;
$component-switch-stroke-default: $spacing-stroke-1;
$component-tab-list-tab-background-active: $color-background-transparent;
$component-tab-list-tab-background-default: $color-background-transparent;
$component-tab-list-tab-border-active: $color-border-brand;
$component-tab-list-tab-border-default: $color-border-primary;
$component-tab-list-tab-icon-active: $color-icon-brand;
$component-tab-list-tab-icon-default: $color-icon-primary;
$component-tab-list-tab-radius-md: $radius-8;
$component-tab-list-tab-radius-sm: $radius-4;
$component-tab-list-tab-stroke-active: $spacing-stroke-2;
$component-tab-list-tab-stroke-default: $spacing-stroke-0;
$component-tab-list-tab-text-active: $color-text-brand;
$component-tab-list-tab-text-default: $color-text-primary;
$component-tab-list-track-border: $color-border-primary;
$component-tab-list-track-stroke: $spacing-stroke-1;
$component-tag-fill-background: $context-brand-fill-background;
$component-tag-fill-border: $context-brand-fill-border;
$component-tag-fill-icon: $context-brand-fill-icon;
$component-tag-fill-stroke: $spacing-stroke-0;
$component-tag-fill-text: $context-brand-fill-text;
$component-tag-ghost-background: $color-background-transparent;
$component-tag-ghost-border: $context-brand-ghost-border;
$component-tag-ghost-icon: $context-brand-ghost-icon;
$component-tag-ghost-stroke: $spacing-stroke-0;
$component-tag-ghost-text: $context-brand-ghost-text;
$component-tag-outline-background: $context-brand-outline-background;
$component-tag-outline-border: $context-brand-outline-border;
$component-tag-outline-icon: $context-brand-outline-icon;
$component-tag-outline-stroke: $spacing-stroke-1;
$component-tag-outline-text: $context-brand-outline-text;
$component-tag-radius-2xs: $radius-2;
$component-tag-radius-xs: $radius-4;
$component-tag-soft-background: $context-brand-soft-background;
$component-tag-soft-border: $context-brand-soft-border;
$component-tag-soft-icon: $context-brand-soft-icon;
$component-tag-soft-stroke: $spacing-stroke-0;
$component-tag-soft-text: $context-brand-soft-text;
$component-textarea-fill-background: $color-background-tertiary;
$component-textarea-fill-border: $color-border-primary;
$component-textarea-fill-stroke: $spacing-stroke-0;
$component-textarea-fill-text-default: $color-text-primary;
$component-textarea-fill-text-placeholder: $color-text-secondary;
$component-textarea-outline-background: $color-background-primary;
$component-textarea-outline-border: $color-border-primary;
$component-textarea-outline-stroke: $spacing-stroke-1;
$component-textarea-outline-text-default: $color-text-primary;
$component-textarea-outline-text-placeholder: $color-text-secondary;
$component-tooltip-background: $color-background-inverse;
$component-tooltip-max-width: $container-width-288;
$component-tooltip-pointer: $color-background-inverse;
$component-tooltip-radius: $radius-4;
$component-tooltip-text: $color-text-inverse;
